<div>{{ sonum }}</div>

<form (ngSubmit)="lisaToode(lisamiseVorm)" #lisamiseVorm="ngForm">
    <label>Toote nimi</label><br>
    <input ngModel name="nimi" type="text"> <br>
    <label>Toote pilt</label><br>
    <input ngModel name="pilt" type="text"> <br>
    <label>Toote hind</label><br>
    <input ngModel name="hind" type="number"> <br>
    <button *ngIf="sonum === 'Lisa uus toode!'">Sisesta</button>
</form>



<div *ngIf="ostukorv.length > 0">Ostukorvis {{ ostukorv.length }} tk</div>
<div *ngIf="ostukorv.length === 0">Ostukorv on tühi</div>
<div>--------------------------------------------------------------------------------------------------------------------------------------------------</div>
<button *ngIf="ostukorv.length > 0" (click)="tyhjenda()">Tühjenda</button>
<div>--------------------------------------------------------------------------------------------------------------------------------------------------</div>




<div *ngFor="let item of ostukorv; let i = index">
     
    <button (click)="kustuta(i)">X</button>
    {{ item.nimi }}
    <button (click)="lisa(i)">+</button>
    {{ item.quantity }} tk
    <button (click)="eemalda(i)">-</button>
    <img src="{{ item.pilt }}" alt="" class="pilt"> 
    {{ item.hind }}
    




</div>

<div>Ostukorvi summa kokku: {{ kogusumma.toFixed(2) }}</div>
<div>Ostukorvi toodete keskmine hind: {{ avg.toFixed(2) }}</div>

