<div>
    <button (click)="tyhjenda()">Kustuta k8ik</button>
</div>
Inimeste hulk: {{ inimesed.length }}
<br>
<div *ngIf="inimesed.length > 0"> Average: {{ average }}</div>
<div *ngIf="inimesed.length > 0"> Vanus kokku: {{ sum }}</div>
<div>---------------</div>
<div *ngFor="let inimene of inimesed; let i = index">
    <button (click)="kustuta(inimene)">X</button>
    <button (click)="lisa(inimene)">lisa</button>
    <button routerLink="/muuda/{{i}}">Muuda</button><br>
    <div routerLink="/inimene/{{i}}">

    {{ inimene.name }} <br>
    {{ inimene.username }} <br>
    {{ inimene.email }} <br>
    {{ inimene.vanus }}

    </div>

    <div>---------------</div>
</div>