<div>Leht on inglise keeles! Vaheta keelt alumise nupu kaudu.</div>
<h2>
    {{ uudis }}
    <span
        (mouseenter)="hiiregaYleMinnes()"
        (mouseleave)="hiirega2raMinnes()"
        *ngIf="onIngliseKeelne" class="punane-tarn">*</span>
</h2>

<h2>
    {{ uudiseSisu }}
    <span
        (mouseenter)="hiiregaYleMinnes()"
        (mouseleave)="hiirega2raMinnes()"
        *ngIf="onIngliseKeelne" class="punane-tarn">*</span>
</h2>

<!-- 
<h2>{{ uudis }} <span *ngIf="onIngliseKeelne" class="punane-tarn">*</span></h2>
<div>{{ uudiseSisu }} <span *ngIf="onIngliseKeelne" class="punane-tarn">*</span></div> -->

<button (click)="muudaInglisekeelseks()">Inglise keelne</button>
<button (click)="muudaMuukeelseks()">muu keelne</button>