 <div class="main-link-list">
  
  
  <div class="main-link" routerLink="">
    <button class="directButton">Home</button>
    <p>Kodu</p>
  </div>

  <div class="main-link" routerLink="first">
      <button class="directButton">1</button>
      <p>"ngFor" katse.</p>
      <!-- <p>Küsida eralduste kohta</p> Sulg oli vastus -->
      <p>Lisaks vertikaalne eraldus</p>
  </div>

  <div class="main-link" routerLink="second">
    <button class="directButton">2</button>
    <p>Arrayd jagatud</p>
    <p>kehele lehe poolele</p>
  </div>
  
  <div class="main-link" routerLink="third">
    <button class="directButton">3</button>
    <p>Ostukorvi harjutus</p>
  </div>

  <div class="main-link" routerLink="fourth">
    <button class="directButton">4</button>
    <p>Järgmine</p>
  </div>

  <div class="main-link" routerLink="fifth">
    <button class="directButton">5</button>
    <p>Järgmine</p>
  </div>

  <div class="main-link" routerLink="toode/:">
    <button class="directButton">Toode</button>
    <p>Toode</p>
  </div>


</div>

<div>--------------------------------------------------------------------------------------------------------------------------------------------------</div>
<router-outlet></router-outlet>



